<div class='comment'>
	<%=comment.message%>
	<br />
	<br />
	<div>
		<small>Posted by <%=comment.user.name%> on <%=comment.created_at.to_s(:long)%> 
		<%-if is_admin?%>
			&nbsp;&nbsp;&nbsp; <a href="">Edit</a>&nbsp;&nbsp;&nbsp; <a href="">Delete</a></small>
		<%end-%>
	</div>
</div>